<!DOCTYPE html>
<html lang="pl">
  <head>
    <script
      src="https://kit.fontawesome.com/410a7c741c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Quantico&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add warranty</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/warranties.css"/>
    <link rel="stylesheet" type="text/css" href="./css/account.css" />
    <link rel="stylesheet" type="text/css" href="./css/add_warranty.css"/>
    <script type="text/javascript" src="./js/scriptAccount.js" defer></script>
  </head>
  <body>
    <div class="base-container">
      {% include '/views/navigation.html.twig' %}
      <main>
        <header>Add warranty</header>
        {% set fieldErrors = [] %}
        
        {{ form_start(form) }}
        
        <div id="info">
            {% for child in form %}
                {% if child.vars.name != '_token' %}
                    <div class="detail_container">
                        {{ form_widget(child) }}
                        <div class="detail_name">{{ form_label(child) }}</div>
                    </div>
                    {% for error in child.vars.errors %}
                        {% set fieldErrors = fieldErrors|merge([error.message]) %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
                    
            <div class="detail_container">
                <button type="submit" id="sign">ADD</button>
            </div>
        </div>
        <div class="messages">
        <ul>
        {% for fieldError in fieldErrors %}
             <li>{{ fieldError}}</li>
        {% endfor %}
        </ul>
        {{ form_errors(form) }}
        </div>  
        {{ form_end(form) }}
        

      </main>
    </div>
  </body>
</html>
